{"openapi":"3.0.3","info":{"title":"Trackgood  v2 API - OpenAPI 3.0","description":"This is Trackgood's API Server based on the OpenAPI 3.0 specification. \n\n [Trackgood](https://trackgood.io)","termsOfService":"http://trackgood.io/terms/","contact":{"email":"contact@trackgood.io"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"2.0.0"},"externalDocs":{"description":"Find out more about Trackgood","url":"https://trackgood.io"},"servers":[{"url":"https://api.trackgood.io/v2","description":"V2 Production data"},{"url":"https://apidev.trackgood.io/v2","description":"V2 Demo data"}],"tags":[{"name":"organization","description":"Organizations using Trackgood's platform","externalDocs":{"description":"Find out more","url":"https://trackgood.io"}},{"name":"product","description":"Products tracked with Trackgood","externalDocs":{"description":"Find out more","url":"https://trackgood.io"}},{"name":"impact","description":"Impacts in Trackgood"}],"paths":{"/organization":{"get":{"tags":["organization"],"summary":"Returns a list of organizations","description":"Returns a full list of Trackgood organizations. No paging","operationId":"findAllOrganizations","responses":{"200":{"description":"A json array of organizations","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":92263},"name":{"type":"string"},"logo_url":{"type":"string"},"location_name":{"type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"email":{"type":"string"},"shop_url":{"type":"string"},"about_text":{"type":"string"},"sustainability_link":{"type":"string"},"gln":{"type":"string"},"blockchain_address":{"type":"string"},"likes":{"type":"integer","format":"int64","example":9000},"awards":{"type":"array","items":{"type":"string"}},"images":{"type":"array","items":{"type":"string"}}},"title":"Organization"}}}}}}}}}},"/organization/findByGln":{"get":{"tags":["organization"],"summary":"Finds organization by GLN","description":"A gln value must be provided","operationId":"findOrganizationByGln","parameters":[{"name":"gln","in":"query","description":"GLN number to be searched for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":92263},"name":{"type":"string"},"logo_url":{"type":"string"},"location_name":{"type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"email":{"type":"string"},"shop_url":{"type":"string"},"about_text":{"type":"string"},"sustainability_link":{"type":"string"},"gln":{"type":"string"},"blockchain_address":{"type":"string"},"likes":{"type":"integer","format":"int64","example":9000},"awards":{"type":"array","items":{"type":"string"}},"images":{"type":"array","items":{"type":"string"}}},"title":"Organization"}}}},"404":{"description":"Organization with GLN provided not found"}}}},"/organization/{id}":{"get":{"tags":["organization"],"summary":"Finds organization by id","description":"An id value must be provided","operationId":"findOrganizationById","parameters":[{"name":"id","in":"path","description":"The organization's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":92263},"name":{"type":"string"},"logo_url":{"type":"string"},"location_name":{"type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"email":{"type":"string"},"shop_url":{"type":"string"},"about_text":{"type":"string"},"sustainability_link":{"type":"string"},"gln":{"type":"string"},"blockchain_address":{"type":"string"},"likes":{"type":"integer","format":"int64","example":9000},"awards":{"type":"array","items":{"type":"string"}},"images":{"type":"array","items":{"type":"string"}}},"title":"Organization"}}}},"400":{"description":"Invalid id value"},"404":{"description":"Organization not found"}}}},"/organization/{id}/products":{"get":{"tags":["organization","product"],"summary":"Finds products for an organization by id","description":"An id value must be provided","operationId":"findProductsForOrganizationById","parameters":[{"name":"id","in":"path","description":"The organization's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"products":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}},"organization":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":92263},"name":{"type":"string"},"logo_url":{"type":"string"},"location_name":{"type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"email":{"type":"string"},"shop_url":{"type":"string"},"about_text":{"type":"string"},"sustainability_link":{"type":"string"},"gln":{"type":"string"},"blockchain_address":{"type":"string"},"likes":{"type":"integer","format":"int64","example":9000},"awards":{"type":"array","items":{"type":"string"}},"images":{"type":"array","items":{"type":"string"}}},"title":"Organization"}}}}}},"400":{"description":"Invalid id value"},"404":{"description":"Organization not found"}}}},"/product":{"get":{"tags":["product"],"summary":"Returns a list of all products","description":"Returns a full list of all products on Trackgood. No paging","operationId":"findAllProducts","responses":{"200":{"description":"A json array of organizations","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}}}}}}}}}},"/product/findByOrganization":{"get":{"tags":["product"],"summary":"Finds product by GTIN","description":"A gtin value must be provided","operationId":"findProductByOrganization","parameters":[{"name":"organization","in":"query","description":"Organization id to load products for","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}}}}}}},"404":{"description":"Product with GTIN provided not found"}}}},"/product/findByGtin":{"get":{"tags":["product"],"summary":"Finds product by GTIN","description":"A gtin value must be provided","operationId":"findProductByGtin","parameters":[{"name":"gtin","in":"query","description":"GTIN number to be searched for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}}}},"404":{"description":"Product with GTIN provided not found"}}}},"/product/{id}":{"get":{"tags":["product"],"summary":"Finds product by id","description":"An id value must be provided","operationId":"findProductById","parameters":[{"name":"id","in":"path","description":"The product's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}}}},"400":{"description":"Invalid id value"},"404":{"description":"Product not found"}}}},"/product/{id}/impacts":{"get":{"tags":["impact","product"],"summary":"Finds products for an organization by id","description":"An id value must be provided","operationId":"findImpactsForProductById","parameters":[{"name":"id","in":"path","description":"The product's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"impacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":50901},"name":{"type":"string"},"description":{"type":"string"},"logo_url":{"type":"string"},"metric":{"type":"integer"},"likes":{"type":"integer","format":"int64","example":9000}},"title":"Impact"}},"product":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}}}}}},"400":{"description":"Invalid id value"},"404":{"description":"Product not found"}}}},"/product/{id}/transactions":{"get":{"tags":["transaction","product"],"summary":"Finds transactions for a product by the product id","description":"An id value must be provided","operationId":"findTransactionsForProductById","parameters":[{"name":"id","in":"path","description":"The product's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"product_id":{"type":"integer","format":"int64"},"supply_chain_node_id":{"type":"integer","format":"int64"},"organization_id":{"type":"integer","format":"int64"},"sender":{"type":"string"},"receiver":{"type":"string"},"message":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"}},"title":"Transaction"}},"product":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"}}}}}},"400":{"description":"Invalid id value"},"404":{"description":"Product not found"}}}},"/product/{id}/supplychain":{"get":{"tags":["transaction","product"],"summary":"Finds supply chain for a product by the product id","description":"An id value must be provided","operationId":"findSupplychainForProductById","parameters":[{"name":"id","in":"path","description":"The product's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"supply_chain_nodes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":88193},"supply_chain_id":{"type":"integer","format":"int64"},"order":{"type":"integer","format":"int32"},"name":{"type":"string","example":"Blue Baron"},"description":{"type":"string"},"stepName":{"type":"string","example":"Drying and milling"},"logo_url":{"type":"string"},"blockchainAddress":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"locationName":{"type":"string","example":"Auckland, New Zealand"},"geo":{"type":"object","properties":{"lat":{"type":"number"},"lng":{"type":"number"}},"title":"GeoLocation"}},"title":"SupplyChainNode"}},"product":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"},"supplychain":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":99271},"name":{"type":"string","example":"european supply chain"}},"title":"SupplyChain"}}}}}},"400":{"description":"Invalid id value"},"404":{"description":"Product not found"}}}},"/impact":{"get":{"tags":["impact"],"summary":"Returns a list of impacts","description":"Returns a full list of Trackgood impacts. No paging","operationId":"findAllImpacts","responses":{"200":{"description":"A json array of impacts","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":50901},"name":{"type":"string"},"description":{"type":"string"},"logo_url":{"type":"string"},"metric":{"type":"integer"},"likes":{"type":"integer","format":"int64","example":9000}},"title":"Impact"}}}}}}}}}},"/impact/{id}":{"get":{"tags":["impact"],"summary":"Finds impact by id","description":"An id value must be provided","operationId":"findImpactById","parameters":[{"name":"id","in":"path","description":"The impact's id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":50901},"name":{"type":"string"},"description":{"type":"string"},"logo_url":{"type":"string"},"metric":{"type":"integer"},"likes":{"type":"integer","format":"int64","example":9000}},"title":"Impact"}}}},"400":{"description":"Invalid id value"},"404":{"description":"Impact not found"}}}},"/impact/findByName":{"get":{"tags":["impact"],"summary":"Finds impact by name","description":"A name value must be provided","operationId":"findImpactByName","parameters":[{"name":"name","in":"query","description":"name to be searched for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"successful operation","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":50901},"name":{"type":"string"},"description":{"type":"string"},"logo_url":{"type":"string"},"metric":{"type":"integer"},"likes":{"type":"integer","format":"int64","example":9000}},"title":"Impact"}}}},"404":{"description":"Impact with name provided not found"}}}}},"components":{"schemas":{"Organization":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":92263},"name":{"type":"string"},"logo_url":{"type":"string"},"location_name":{"type":"string"},"website":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"facebook":{"type":"string"},"email":{"type":"string"},"shop_url":{"type":"string"},"about_text":{"type":"string"},"sustainability_link":{"type":"string"},"gln":{"type":"string"},"blockchain_address":{"type":"string"},"likes":{"type":"integer","format":"int64","example":9000},"awards":{"type":"array","items":{"type":"string"}},"images":{"type":"array","items":{"type":"string"}}},"title":"Organization"},"Product":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":28307},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"code":{"type":"string"},"batch_code":{"type":"string"},"gtin":{"type":"string"},"organization_id":{"type":"integer","format":"int64","example":92263},"supply_chain_id":{"type":"integer","format":"int64"}},"title":"Product"},"Impact":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":50901},"name":{"type":"string"},"description":{"type":"string"},"logo_url":{"type":"string"},"metric":{"type":"integer"},"likes":{"type":"integer","format":"int64","example":9000}},"title":"Impact"},"GeoLocation":{"type":"object","properties":{"lat":{"type":"number"},"lng":{"type":"number"}},"title":"GeoLocation"},"SupplyChain":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":99271},"name":{"type":"string","example":"european supply chain"}},"title":"SupplyChain"},"SupplyChainNode":{"type":"object","properties":{"id":{"type":"integer","format":"int64","example":88193},"supply_chain_id":{"type":"integer","format":"int64"},"order":{"type":"integer","format":"int32"},"name":{"type":"string","example":"Blue Baron"},"description":{"type":"string"},"stepName":{"type":"string","example":"Drying and milling"},"logo_url":{"type":"string"},"blockchainAddress":{"type":"string"},"images":{"type":"array","items":{"type":"string"}},"locationName":{"type":"string","example":"Auckland, New Zealand"},"geo":{"type":"object","properties":{"lat":{"type":"number"},"lng":{"type":"number"}},"title":"GeoLocation"}},"title":"SupplyChainNode"},"SupplyChainNodeFile":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"path":{"type":"string"},"hex":{"type":"string"},"type":{"type":"string"},"blockchainHash":{"type":"string"}},"title":"SupplyChainNodeFile"},"Transaction":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"product_id":{"type":"integer","format":"int64"},"supply_chain_node_id":{"type":"integer","format":"int64"},"organization_id":{"type":"integer","format":"int64"},"sender":{"type":"string"},"receiver":{"type":"string"},"message":{"type":"string"},"hash":{"type":"string"},"timestamp":{"type":"string"}},"title":"Transaction"}}}}
