{"openapi":"3.0.0","info":{"version":"2.1.5","title":"SmartCapacity - Sync Loads API","termsOfService":"https://www.truckertools.com/terms/","contact":{"name":"Integrations Support","email":"integrations@truckertools.com"}},"servers":[{"url":"https://scapi.truckertools.com","description":"Production Server"},{"url":"https://scapi-staging.truckertools.com","description":"Staging Server"}],"paths":{"/api/postLoads":{"post":{"tags":["Requests"],"summary":"Sync loads to Smart Capacity Digital Freight Matching platform\n","description":"This API can be used to call a Web Service end point to Sync loads to Smart Capacity system.\n","requestBody":{"description":"Request body.\n","content":{"application/json":{"schema":{"type":"object","required":["integrationId","accountId","loads"],"properties":{"integrationId":{"type":"string","example":"TruckerTools","description":"Provided by TruckerTools\n"},"accountId":{"type":"string","example":"12345","description":"Customer Account ID on TruckerTools system\n"},"loads":{"type":"array","description":"Array of loads that gets to be processed\n","items":{"type":"object","required":["externalId","loadNumber","status","pickup","delivery"],"properties":{"status":{"type":"string","example":"Available","enum":["Available","Covered","Canceled"],"description":"Status of the load.\n"},"equipmentType":{"type":"string","example":"V","description":"Required equipment for the load. Type Mapping:\n * V - Van\n * R - Reefer\n * F - Flatbed\n etc...\n more comprehensive document will be sent separately. Highly recommended for best digitial freight matching results.\n"},"loadNumber":{"type":"string","example":"LN12345","description":"Unique Load Number that specific to the broker.\n"},"externalId":{"type":"string","example":"TN54321","description":"Unique identifier of the load on partner system.\n"},"pickup":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"delivery":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"loadType":{"type":"string","example":"FL","enum":["FL","LTL"],"description":"Full Load (FL), LTL (Less than Truck Load)"},"loadContact":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"operationUser":{"type":"object","description":"Dispatcher of the load information. \n","properties":{"id":{"type":"string","example":"J111","description":"Operation user identifier.\n"},"team":{"type":"string","example":"East Coast","description":"Operation user team. This can be used to restrict visibility between offices.\n"},"name":{"type":"string","example":"Joe Operation","description":"Operation user name.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Operation user phone number.\n"},"contactEmail":{"type":"string","example":"jops@broker.com","description":"Operation user email.\n"},"phoneExtension":{"type":"string","example":123,"description":"Operation user phone number extension.\n"}},"title":"OperationUser"},"salesPerson":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"revenue":{"type":"object","description":"How much your customer is paying to get this load moved.\n","properties":{"freight":{"type":"number","example":1000,"description":"Freight rate broker is getting paid for the load.\n"},"extra":{"type":"number","example":100,"description":"Accesorial rate broker is getting paid for the load.\n"},"total":{"type":"number","example":1100,"description":"Freight rate for broker pay.\n"}},"title":"Revenue"},"carrierPay":{"type":"object","description":"How much the carrier is getting paid to move this load. Highly recommended for Covered Loads.\n","properties":{"freight":{"type":"number","example":750,"description":"Freight rate for carrier pay.\n"},"extra":{"type":"number","example":50,"description":"Accesorial rate for carrier pay.\n"},"total":{"type":"number","example":800,"description":"Total rate for carrier pay.\n"}},"title":"CarrierPay"},"targetCarrierPay":{"type":"object","description":"Rate range for the carrier rate. Highly recommended for Available and Covered Loads.\n","properties":{"minimumPay":{"type":"number","example":700,"description":"Minimum rate the broker is willing to pay for the load.\n"},"maximumPay":{"type":"number","example":900,"description":"Maximum rate the broker is willing to pay for the load.\n"}},"title":"TargetCarrierPay"},"trucksCount":{"type":"integer","example":1,"description":"Number of trucks to carry load.\n"},"length":{"type":"string","example":48,"description":"Length of the equipment requested.\n"},"weight":{"type":"string","example":20000,"description":"Weight of the load to be moved.\n"},"quantity":{"type":"string","example":5,"description":"Amount of load to be moved.\n"},"rate":{"type":"string","example":850,"description":"**Deprecated - Use `minRate` and/or `maxRate` instead.**\nRate you would like to show to carriers for this load.\n"},"billToId":{"type":"string","example":"SHPPR","description":"Shipper identifer that can be sent to 3rd party tracking systems like Fourkites and Macropoint.\n"},"orderType":{"type":"string","example":"CONTRACT/SPOT","description":"Type of the order.\n"},"temperatureMinimum":{"type":"string","example":33,"description":"Minimum temperature required for the equipment.\n"},"temperatureMaximum":{"type":"string","example":38,"description":"Maximum temperature required for the equipment.\n"},"commodityId":{"type":"string","example":"CID123","description":"ID assigned by the customer to the load.\n"},"hazmat":{"type":"boolean","default":false,"description":"Whether the load contains hazardous materials or not.\n"},"highValue":{"type":"boolean","default":false,"description":"Whether the load is high value or not.\n"},"teamsRequired":{"type":"boolean","default":false,"description":"Whether the team is required for tracking\n"},"comments":{"type":"string","description":"Comments for this load\n"},"numberOfAdditionalStops":{"type":"integer","example":1,"description":"Number of additional stops.\n"},"additionalStops":{"type":"array","items":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"description":"Address details of additional stops, if any.\n"},"broker":{"type":"object","description":"Broker details.","required":["companyName","mc"],"properties":{"companyName":{"type":"string","example":"Broker Limited","description":"Broker Name.\n"},"mc":{"type":"string","example":"MC10000001","description":"MC Number for the broker.\n"},"dotNumber":{"type":"string","example":20000001,"description":"DOT Number for the Broker.\n"},"contactPhone":{"type":"string","example":8001112233,"description":"Contact phone number of the broker if different than default contact details provided for the account.\n"},"contactEmail":{"type":"string","example":"info@broker.com","description":"Contact email of the broker if different than default contact details provided for the account.\n"}},"title":"Broker"},"shipperLoadNumber":{"type":"string","example":"SHP123","description":"Load identifier number for the shipper. This can be used to identify the load on third party tracking platforms.\n"},"carrier":{"type":"object","description":"Carrier details. Required for Covered loads.\n","required":["companyName","mc","contactPhone","contactEmail"],"properties":{"companyName":{"type":"string","example":"Carrier Logistics","description":"Name of the carrier company.\n"},"mc":{"type":"string","example":"MC8000001","description":"MC number of the carrier.\n"},"contactPhone":{"type":"string","example":1234567890,"description":"Contact phone number for the carrier.\n"},"contactEmail":{"type":"string","example":"dispatch@carrier.com","description":"Contact email for the carrier.\n"},"dotNumber":{"type":"string","example":23456,"description":"DOT number of the carrier.\n"},"scac":{"type":"string","example":"ABCD","description":"SCAC of the carrier.\n"},"numberOfTrucks":{"type":"string","example":5,"description":"Number of trucks carrier has.\n"}},"title":"Carrier"},"driver":{"type":"object","description":"Driver details.\n","required":["phone"],"properties":{"name":{"type":"string","example":"John Smith","description":"Name of the driver.\n"},"phone":{"type":"string","example":5719008877,"description":"Cell phone number of the driver. Required for Covered loads.\n"}},"title":"Driver"},"dispatcher":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"shipper":{"type":"object","description":"Shipper details.\n","required":["companyName"],"properties":{"companyName":{"type":"string","example":"Produce Shipper A","description":"Shipper name, this won't be shared with carrier or driver.\n"},"contactPhone":{"type":"string","description":"Contact phone number of the shipper.\n","example":8001112233},"contactEmail":{"type":"string","example":"produce@shipper.com","description":"Contact email of the shipper. Required for sending update emails to Shipper.\n"}},"title":"Shipper"},"minRate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"maxRate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"tractorNumber":{"type":"string","example":"TN12345","description":"Identifier for the tractor that is carrying the load.\n"},"trailerNumber":{"type":"string","example":"TR12345","description":"Identifier for the trailer that is carrying the load.\n"},"publishToCarrier":{"type":"boolean","default":true,"description":"Identifier to make the load visible to carriers.\n"},"bookItNowPrice":{"type":"string","example":1050,"description":"**Deprecated - Use `minRate` and/or `maxRate` instead.**\nRate you would like publish to Carriers as Book It Now® rate.\n"},"totalMiles":{"type":"number","example":460,"description":"Total miles from pickup to destination.\n"},"ratePerMile":{"type":"number","example":2.5,"description":"Rate offered per mile for the load.\n"},"ratePerMileFuel":{"type":"number","example":2.75,"description":"Rate offered per mile with fuel for the load. \n"},"triggerTracking":{"type":"boolean","default":false,"description":"If Carrier MC and either Driver phone, load trailerNumber or load tractorNumber is provided TruckerTools will initiate tracking.\n"},"loadServices":{"type":"array","items":{"type":"string"},"example":["Carrier must have van"],"description":"A list of services required for this load. Carrier requirements, truck type, etc.\n"},"responsibilityCodes":{"type":"array","description":"Responsible parties assigned by broker.\n","items":{"type":"string"}},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"Load"}}}}}}},"responses":{"200":{"description":"Success response.\n","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"requestBodies":{"PostLoadsRequest":{"description":"Request body.\n","content":{"application/json":{"schema":{"type":"object","required":["integrationId","accountId","loads"],"properties":{"integrationId":{"type":"string","example":"TruckerTools","description":"Provided by TruckerTools\n"},"accountId":{"type":"string","example":"12345","description":"Customer Account ID on TruckerTools system\n"},"loads":{"type":"array","description":"Array of loads that gets to be processed\n","items":{"type":"object","required":["externalId","loadNumber","status","pickup","delivery"],"properties":{"status":{"type":"string","example":"Available","enum":["Available","Covered","Canceled"],"description":"Status of the load.\n"},"equipmentType":{"type":"string","example":"V","description":"Required equipment for the load. Type Mapping:\n * V - Van\n * R - Reefer\n * F - Flatbed\n etc...\n more comprehensive document will be sent separately. Highly recommended for best digitial freight matching results.\n"},"loadNumber":{"type":"string","example":"LN12345","description":"Unique Load Number that specific to the broker.\n"},"externalId":{"type":"string","example":"TN54321","description":"Unique identifier of the load on partner system.\n"},"pickup":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"delivery":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"loadType":{"type":"string","example":"FL","enum":["FL","LTL"],"description":"Full Load (FL), LTL (Less than Truck Load)"},"loadContact":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"operationUser":{"type":"object","description":"Dispatcher of the load information. \n","properties":{"id":{"type":"string","example":"J111","description":"Operation user identifier.\n"},"team":{"type":"string","example":"East Coast","description":"Operation user team. This can be used to restrict visibility between offices.\n"},"name":{"type":"string","example":"Joe Operation","description":"Operation user name.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Operation user phone number.\n"},"contactEmail":{"type":"string","example":"jops@broker.com","description":"Operation user email.\n"},"phoneExtension":{"type":"string","example":123,"description":"Operation user phone number extension.\n"}},"title":"OperationUser"},"salesPerson":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"revenue":{"type":"object","description":"How much your customer is paying to get this load moved.\n","properties":{"freight":{"type":"number","example":1000,"description":"Freight rate broker is getting paid for the load.\n"},"extra":{"type":"number","example":100,"description":"Accesorial rate broker is getting paid for the load.\n"},"total":{"type":"number","example":1100,"description":"Freight rate for broker pay.\n"}},"title":"Revenue"},"carrierPay":{"type":"object","description":"How much the carrier is getting paid to move this load. Highly recommended for Covered Loads.\n","properties":{"freight":{"type":"number","example":750,"description":"Freight rate for carrier pay.\n"},"extra":{"type":"number","example":50,"description":"Accesorial rate for carrier pay.\n"},"total":{"type":"number","example":800,"description":"Total rate for carrier pay.\n"}},"title":"CarrierPay"},"targetCarrierPay":{"type":"object","description":"Rate range for the carrier rate. Highly recommended for Available and Covered Loads.\n","properties":{"minimumPay":{"type":"number","example":700,"description":"Minimum rate the broker is willing to pay for the load.\n"},"maximumPay":{"type":"number","example":900,"description":"Maximum rate the broker is willing to pay for the load.\n"}},"title":"TargetCarrierPay"},"trucksCount":{"type":"integer","example":1,"description":"Number of trucks to carry load.\n"},"length":{"type":"string","example":48,"description":"Length of the equipment requested.\n"},"weight":{"type":"string","example":20000,"description":"Weight of the load to be moved.\n"},"quantity":{"type":"string","example":5,"description":"Amount of load to be moved.\n"},"rate":{"type":"string","example":850,"description":"**Deprecated - Use `minRate` and/or `maxRate` instead.**\nRate you would like to show to carriers for this load.\n"},"billToId":{"type":"string","example":"SHPPR","description":"Shipper identifer that can be sent to 3rd party tracking systems like Fourkites and Macropoint.\n"},"orderType":{"type":"string","example":"CONTRACT/SPOT","description":"Type of the order.\n"},"temperatureMinimum":{"type":"string","example":33,"description":"Minimum temperature required for the equipment.\n"},"temperatureMaximum":{"type":"string","example":38,"description":"Maximum temperature required for the equipment.\n"},"commodityId":{"type":"string","example":"CID123","description":"ID assigned by the customer to the load.\n"},"hazmat":{"type":"boolean","default":false,"description":"Whether the load contains hazardous materials or not.\n"},"highValue":{"type":"boolean","default":false,"description":"Whether the load is high value or not.\n"},"teamsRequired":{"type":"boolean","default":false,"description":"Whether the team is required for tracking\n"},"comments":{"type":"string","description":"Comments for this load\n"},"numberOfAdditionalStops":{"type":"integer","example":1,"description":"Number of additional stops.\n"},"additionalStops":{"type":"array","items":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"description":"Address details of additional stops, if any.\n"},"broker":{"type":"object","description":"Broker details.","required":["companyName","mc"],"properties":{"companyName":{"type":"string","example":"Broker Limited","description":"Broker Name.\n"},"mc":{"type":"string","example":"MC10000001","description":"MC Number for the broker.\n"},"dotNumber":{"type":"string","example":20000001,"description":"DOT Number for the Broker.\n"},"contactPhone":{"type":"string","example":8001112233,"description":"Contact phone number of the broker if different than default contact details provided for the account.\n"},"contactEmail":{"type":"string","example":"info@broker.com","description":"Contact email of the broker if different than default contact details provided for the account.\n"}},"title":"Broker"},"shipperLoadNumber":{"type":"string","example":"SHP123","description":"Load identifier number for the shipper. This can be used to identify the load on third party tracking platforms.\n"},"carrier":{"type":"object","description":"Carrier details. Required for Covered loads.\n","required":["companyName","mc","contactPhone","contactEmail"],"properties":{"companyName":{"type":"string","example":"Carrier Logistics","description":"Name of the carrier company.\n"},"mc":{"type":"string","example":"MC8000001","description":"MC number of the carrier.\n"},"contactPhone":{"type":"string","example":1234567890,"description":"Contact phone number for the carrier.\n"},"contactEmail":{"type":"string","example":"dispatch@carrier.com","description":"Contact email for the carrier.\n"},"dotNumber":{"type":"string","example":23456,"description":"DOT number of the carrier.\n"},"scac":{"type":"string","example":"ABCD","description":"SCAC of the carrier.\n"},"numberOfTrucks":{"type":"string","example":5,"description":"Number of trucks carrier has.\n"}},"title":"Carrier"},"driver":{"type":"object","description":"Driver details.\n","required":["phone"],"properties":{"name":{"type":"string","example":"John Smith","description":"Name of the driver.\n"},"phone":{"type":"string","example":5719008877,"description":"Cell phone number of the driver. Required for Covered loads.\n"}},"title":"Driver"},"dispatcher":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"shipper":{"type":"object","description":"Shipper details.\n","required":["companyName"],"properties":{"companyName":{"type":"string","example":"Produce Shipper A","description":"Shipper name, this won't be shared with carrier or driver.\n"},"contactPhone":{"type":"string","description":"Contact phone number of the shipper.\n","example":8001112233},"contactEmail":{"type":"string","example":"produce@shipper.com","description":"Contact email of the shipper. Required for sending update emails to Shipper.\n"}},"title":"Shipper"},"minRate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"maxRate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"tractorNumber":{"type":"string","example":"TN12345","description":"Identifier for the tractor that is carrying the load.\n"},"trailerNumber":{"type":"string","example":"TR12345","description":"Identifier for the trailer that is carrying the load.\n"},"publishToCarrier":{"type":"boolean","default":true,"description":"Identifier to make the load visible to carriers.\n"},"bookItNowPrice":{"type":"string","example":1050,"description":"**Deprecated - Use `minRate` and/or `maxRate` instead.**\nRate you would like publish to Carriers as Book It Now® rate.\n"},"totalMiles":{"type":"number","example":460,"description":"Total miles from pickup to destination.\n"},"ratePerMile":{"type":"number","example":2.5,"description":"Rate offered per mile for the load.\n"},"ratePerMileFuel":{"type":"number","example":2.75,"description":"Rate offered per mile with fuel for the load. \n"},"triggerTracking":{"type":"boolean","default":false,"description":"If Carrier MC and either Driver phone, load trailerNumber or load tractorNumber is provided TruckerTools will initiate tracking.\n"},"loadServices":{"type":"array","items":{"type":"string"},"example":["Carrier must have van"],"description":"A list of services required for this load. Carrier requirements, truck type, etc.\n"},"responsibilityCodes":{"type":"array","description":"Responsible parties assigned by broker.\n","items":{"type":"string"}},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"Load"}}}}}}}},"responses":{"PostLoadsSuccessResponse":{"description":"Success response.\n","content":{"application/json":{"schema":{"type":"object"}}}}},"schemas":{"Load":{"type":"object","required":["externalId","loadNumber","status","pickup","delivery"],"properties":{"status":{"type":"string","example":"Available","enum":["Available","Covered","Canceled"],"description":"Status of the load.\n"},"equipmentType":{"type":"string","example":"V","description":"Required equipment for the load. Type Mapping:\n * V - Van\n * R - Reefer\n * F - Flatbed\n etc...\n more comprehensive document will be sent separately. Highly recommended for best digitial freight matching results.\n"},"loadNumber":{"type":"string","example":"LN12345","description":"Unique Load Number that specific to the broker.\n"},"externalId":{"type":"string","example":"TN54321","description":"Unique identifier of the load on partner system.\n"},"pickup":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"delivery":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"loadType":{"type":"string","example":"FL","enum":["FL","LTL"],"description":"Full Load (FL), LTL (Less than Truck Load)"},"loadContact":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"operationUser":{"type":"object","description":"Dispatcher of the load information. \n","properties":{"id":{"type":"string","example":"J111","description":"Operation user identifier.\n"},"team":{"type":"string","example":"East Coast","description":"Operation user team. This can be used to restrict visibility between offices.\n"},"name":{"type":"string","example":"Joe Operation","description":"Operation user name.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Operation user phone number.\n"},"contactEmail":{"type":"string","example":"jops@broker.com","description":"Operation user email.\n"},"phoneExtension":{"type":"string","example":123,"description":"Operation user phone number extension.\n"}},"title":"OperationUser"},"salesPerson":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"revenue":{"type":"object","description":"How much your customer is paying to get this load moved.\n","properties":{"freight":{"type":"number","example":1000,"description":"Freight rate broker is getting paid for the load.\n"},"extra":{"type":"number","example":100,"description":"Accesorial rate broker is getting paid for the load.\n"},"total":{"type":"number","example":1100,"description":"Freight rate for broker pay.\n"}},"title":"Revenue"},"carrierPay":{"type":"object","description":"How much the carrier is getting paid to move this load. Highly recommended for Covered Loads.\n","properties":{"freight":{"type":"number","example":750,"description":"Freight rate for carrier pay.\n"},"extra":{"type":"number","example":50,"description":"Accesorial rate for carrier pay.\n"},"total":{"type":"number","example":800,"description":"Total rate for carrier pay.\n"}},"title":"CarrierPay"},"targetCarrierPay":{"type":"object","description":"Rate range for the carrier rate. Highly recommended for Available and Covered Loads.\n","properties":{"minimumPay":{"type":"number","example":700,"description":"Minimum rate the broker is willing to pay for the load.\n"},"maximumPay":{"type":"number","example":900,"description":"Maximum rate the broker is willing to pay for the load.\n"}},"title":"TargetCarrierPay"},"trucksCount":{"type":"integer","example":1,"description":"Number of trucks to carry load.\n"},"length":{"type":"string","example":48,"description":"Length of the equipment requested.\n"},"weight":{"type":"string","example":20000,"description":"Weight of the load to be moved.\n"},"quantity":{"type":"string","example":5,"description":"Amount of load to be moved.\n"},"rate":{"type":"string","example":850,"description":"**Deprecated - Use `minRate` and/or `maxRate` instead.**\nRate you would like to show to carriers for this load.\n"},"billToId":{"type":"string","example":"SHPPR","description":"Shipper identifer that can be sent to 3rd party tracking systems like Fourkites and Macropoint.\n"},"orderType":{"type":"string","example":"CONTRACT/SPOT","description":"Type of the order.\n"},"temperatureMinimum":{"type":"string","example":33,"description":"Minimum temperature required for the equipment.\n"},"temperatureMaximum":{"type":"string","example":38,"description":"Maximum temperature required for the equipment.\n"},"commodityId":{"type":"string","example":"CID123","description":"ID assigned by the customer to the load.\n"},"hazmat":{"type":"boolean","default":false,"description":"Whether the load contains hazardous materials or not.\n"},"highValue":{"type":"boolean","default":false,"description":"Whether the load is high value or not.\n"},"teamsRequired":{"type":"boolean","default":false,"description":"Whether the team is required for tracking\n"},"comments":{"type":"string","description":"Comments for this load\n"},"numberOfAdditionalStops":{"type":"integer","example":1,"description":"Number of additional stops.\n"},"additionalStops":{"type":"array","items":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"description":"Address details of additional stops, if any.\n"},"broker":{"type":"object","description":"Broker details.","required":["companyName","mc"],"properties":{"companyName":{"type":"string","example":"Broker Limited","description":"Broker Name.\n"},"mc":{"type":"string","example":"MC10000001","description":"MC Number for the broker.\n"},"dotNumber":{"type":"string","example":20000001,"description":"DOT Number for the Broker.\n"},"contactPhone":{"type":"string","example":8001112233,"description":"Contact phone number of the broker if different than default contact details provided for the account.\n"},"contactEmail":{"type":"string","example":"info@broker.com","description":"Contact email of the broker if different than default contact details provided for the account.\n"}},"title":"Broker"},"shipperLoadNumber":{"type":"string","example":"SHP123","description":"Load identifier number for the shipper. This can be used to identify the load on third party tracking platforms.\n"},"carrier":{"type":"object","description":"Carrier details. Required for Covered loads.\n","required":["companyName","mc","contactPhone","contactEmail"],"properties":{"companyName":{"type":"string","example":"Carrier Logistics","description":"Name of the carrier company.\n"},"mc":{"type":"string","example":"MC8000001","description":"MC number of the carrier.\n"},"contactPhone":{"type":"string","example":1234567890,"description":"Contact phone number for the carrier.\n"},"contactEmail":{"type":"string","example":"dispatch@carrier.com","description":"Contact email for the carrier.\n"},"dotNumber":{"type":"string","example":23456,"description":"DOT number of the carrier.\n"},"scac":{"type":"string","example":"ABCD","description":"SCAC of the carrier.\n"},"numberOfTrucks":{"type":"string","example":5,"description":"Number of trucks carrier has.\n"}},"title":"Carrier"},"driver":{"type":"object","description":"Driver details.\n","required":["phone"],"properties":{"name":{"type":"string","example":"John Smith","description":"Name of the driver.\n"},"phone":{"type":"string","example":5719008877,"description":"Cell phone number of the driver. Required for Covered loads.\n"}},"title":"Driver"},"dispatcher":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"shipper":{"type":"object","description":"Shipper details.\n","required":["companyName"],"properties":{"companyName":{"type":"string","example":"Produce Shipper A","description":"Shipper name, this won't be shared with carrier or driver.\n"},"contactPhone":{"type":"string","description":"Contact phone number of the shipper.\n","example":8001112233},"contactEmail":{"type":"string","example":"produce@shipper.com","description":"Contact email of the shipper. Required for sending update emails to Shipper.\n"}},"title":"Shipper"},"minRate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"maxRate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"tractorNumber":{"type":"string","example":"TN12345","description":"Identifier for the tractor that is carrying the load.\n"},"trailerNumber":{"type":"string","example":"TR12345","description":"Identifier for the trailer that is carrying the load.\n"},"publishToCarrier":{"type":"boolean","default":true,"description":"Identifier to make the load visible to carriers.\n"},"bookItNowPrice":{"type":"string","example":1050,"description":"**Deprecated - Use `minRate` and/or `maxRate` instead.**\nRate you would like publish to Carriers as Book It Now® rate.\n"},"totalMiles":{"type":"number","example":460,"description":"Total miles from pickup to destination.\n"},"ratePerMile":{"type":"number","example":2.5,"description":"Rate offered per mile for the load.\n"},"ratePerMileFuel":{"type":"number","example":2.75,"description":"Rate offered per mile with fuel for the load. \n"},"triggerTracking":{"type":"boolean","default":false,"description":"If Carrier MC and either Driver phone, load trailerNumber or load tractorNumber is provided TruckerTools will initiate tracking.\n"},"loadServices":{"type":"array","items":{"type":"string"},"example":["Carrier must have van"],"description":"A list of services required for this load. Carrier requirements, truck type, etc.\n"},"responsibilityCodes":{"type":"array","description":"Responsible parties assigned by broker.\n","items":{"type":"string"}},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"Load"},"LoadStop":{"type":"object","required":["city","state","postalCode","sequence","scheduledAtEarlyDateTime"],"properties":{"address":{"type":"string","example":"150 Main Street","description":"Street address of the stop.\n"},"city":{"type":"string","example":"Reston","description":"City of the stop.\n"},"state":{"type":"string","example":"VA","description":"State abbreviation of the stop.\n"},"postalCode":{"type":"string","example":20190,"description":"Zipcode of the stop.\n"},"latitude":{"type":"string","example":38.947825,"description":"Latitude of the stop.\n"},"longitude":{"type":"string","example":-77.348146,"description":"Longitude of the stop.\n"},"displayCity":{"type":"string","example":"Wolf Trap","description":"City name that customer wants to display to the carrier instead of actual city.\n"},"displayState":{"type":"string","example":"VA","description":"State abbreviation that customer wants to display to the carrier instead of actual state.\n"},"displayPostalCode":{"type":"string","example":20180,"description":"Zipcode of the stop that customer wants to display to the carrier instead of actual zipcode.\n"},"displayLatitude":{"type":"string","example":38.947825,"description":"Latitude that customer wants to display to the carrier instead of actual latitude.\n"},"displayLongitude":{"type":"string","example":-77.348146,"description":"Longitude that customer wants to display to the carrier instead of actual longitude.    \n"},"timeZone":{"type":"string","example":"EST","description":"Timezone identifer of the stop.\n"},"sequence":{"type":"integer","example":2,"description":"If there is no intermediate stops; 1 for pickup and 2 for delivery. If there are intermediate stops increase by 1 for each stop.\n"},"stopExternalId":{"type":"string","example":"Stop100","description":"An Id that is associated with this stop in the external system. This will be sent back in the response of events that are associated with this stop.\n"},"scheduledAtEarlyDateTime":{"type":"string","example":"07/28/2020 15:00","description":"Earliest arrival to stop.\n"},"scheduledAtLateDateTime":{"type":"string","example":"07/28/2020 20:00","description":"Latest arrival to stop.\n"},"appointmentRequired":{"type":"boolean","description":"If stop requires to make an appointment before arrival.\n"},"appointmentConfirmed":{"type":"boolean"},"extras":{"type":"array","items":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}},"title":"LoadStop"},"Broker":{"type":"object","description":"Broker details.","required":["companyName","mc"],"properties":{"companyName":{"type":"string","example":"Broker Limited","description":"Broker Name.\n"},"mc":{"type":"string","example":"MC10000001","description":"MC Number for the broker.\n"},"dotNumber":{"type":"string","example":20000001,"description":"DOT Number for the Broker.\n"},"contactPhone":{"type":"string","example":8001112233,"description":"Contact phone number of the broker if different than default contact details provided for the account.\n"},"contactEmail":{"type":"string","example":"info@broker.com","description":"Contact email of the broker if different than default contact details provided for the account.\n"}},"title":"Broker"},"Carrier":{"type":"object","description":"Carrier details. Required for Covered loads.\n","required":["companyName","mc","contactPhone","contactEmail"],"properties":{"companyName":{"type":"string","example":"Carrier Logistics","description":"Name of the carrier company.\n"},"mc":{"type":"string","example":"MC8000001","description":"MC number of the carrier.\n"},"contactPhone":{"type":"string","example":1234567890,"description":"Contact phone number for the carrier.\n"},"contactEmail":{"type":"string","example":"dispatch@carrier.com","description":"Contact email for the carrier.\n"},"dotNumber":{"type":"string","example":23456,"description":"DOT number of the carrier.\n"},"scac":{"type":"string","example":"ABCD","description":"SCAC of the carrier.\n"},"numberOfTrucks":{"type":"string","example":5,"description":"Number of trucks carrier has.\n"}},"title":"Carrier"},"Driver":{"type":"object","description":"Driver details.\n","required":["phone"],"properties":{"name":{"type":"string","example":"John Smith","description":"Name of the driver.\n"},"phone":{"type":"string","example":5719008877,"description":"Cell phone number of the driver. Required for Covered loads.\n"}},"title":"Driver"},"Shipper":{"type":"object","description":"Shipper details.\n","required":["companyName"],"properties":{"companyName":{"type":"string","example":"Produce Shipper A","description":"Shipper name, this won't be shared with carrier or driver.\n"},"contactPhone":{"type":"string","description":"Contact phone number of the shipper.\n","example":8001112233},"contactEmail":{"type":"string","example":"produce@shipper.com","description":"Contact email of the shipper. Required for sending update emails to Shipper.\n"}},"title":"Shipper"},"Contact":{"type":"object","description":"Contact information of a person associated with the Load.\n","properties":{"name":{"type":"string","example":"Joe Contact","description":"Contact person name.\n"},"contactEmail":{"type":"string","example":"jcontact@broker.com","description":"Contact person email.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Contact person phone number.\n"},"phoneExtension":{"type":"string","example":123,"description":"Contact person phone number extension.\n"}},"title":"Contact"},"OperationUser":{"type":"object","description":"Dispatcher of the load information. \n","properties":{"id":{"type":"string","example":"J111","description":"Operation user identifier.\n"},"team":{"type":"string","example":"East Coast","description":"Operation user team. This can be used to restrict visibility between offices.\n"},"name":{"type":"string","example":"Joe Operation","description":"Operation user name.\n"},"contactPhone":{"type":"string","example":9008007060,"description":"Operation user phone number.\n"},"contactEmail":{"type":"string","example":"jops@broker.com","description":"Operation user email.\n"},"phoneExtension":{"type":"string","example":123,"description":"Operation user phone number extension.\n"}},"title":"OperationUser"},"Rate":{"type":"object","required":["total"],"properties":{"total":{"type":"number"},"ratePerMile":{"type":"number"},"lineHaul":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile"]},"value":{"type":"number"}}},"fuelSurcharge":{"type":"object","required":["type","value"],"properties":{"type":{"type":"string","enum":["flat","mile","percent"]},"value":{"type":"number"}}},"accessorial":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"number"}}}}},"title":"Rate"},"Revenue":{"type":"object","description":"How much your customer is paying to get this load moved.\n","properties":{"freight":{"type":"number","example":1000,"description":"Freight rate broker is getting paid for the load.\n"},"extra":{"type":"number","example":100,"description":"Accesorial rate broker is getting paid for the load.\n"},"total":{"type":"number","example":1100,"description":"Freight rate for broker pay.\n"}},"title":"Revenue"},"CarrierPay":{"type":"object","description":"How much the carrier is getting paid to move this load. Highly recommended for Covered Loads.\n","properties":{"freight":{"type":"number","example":750,"description":"Freight rate for carrier pay.\n"},"extra":{"type":"number","example":50,"description":"Accesorial rate for carrier pay.\n"},"total":{"type":"number","example":800,"description":"Total rate for carrier pay.\n"}},"title":"CarrierPay"},"TargetCarrierPay":{"type":"object","description":"Rate range for the carrier rate. Highly recommended for Available and Covered Loads.\n","properties":{"minimumPay":{"type":"number","example":700,"description":"Minimum rate the broker is willing to pay for the load.\n"},"maximumPay":{"type":"number","example":900,"description":"Maximum rate the broker is willing to pay for the load.\n"}},"title":"TargetCarrierPay"},"Extra":{"type":"object","required":["name","value"],"properties":{"name":{"type":"string"},"value":{"type":"string"}},"title":"Extra"}}}}
